$body_copy_size: 14px;
$global_font: 'Roboto', arial, sans-serif;
$body_font_weight: 400;
$header_font_weight: bold;
$max_width: 1280px;
$font_opacity: .8;
$copy_color: #090a0f;
$secondary_color: #197993;

