@import 'globals';

.cta_container {
  margin: 0 auto;
  border-top: 1px solid #F0EEEE;
  border-bottom: 1px solid #F0EEEE;
  margin: 0 auto 20px auto;
  line-height: 1.5em;
  opacity: $font_opacity;
  padding: 40px 0 60px 0;
}

.cta_inner {
  text-align: center;
  margin: 0 auto;
}

.cta_headline {
  letter-spacing: 1.5px;
  padding: 0 0 30px 0;
}

.cta_email {
  border-radius: 5px;
  border: 1px solid $secondary_color;
  padding: 20px 30px;
  display: inline-block;
  font-style: italic;
  margin: 0 1em;
  margin-bottom: 1em;
  min-width: 10em;
  transition: all .25s ease; 
}
.cta_email:hover {
  transform: scale(1.020);
  color: #afb4bc;
  border-color: #d4e1f7;
  transition: all .25s ease; 
}

a {
  color: $copy_color;
  text-decoration: none;
}

.copyright {
  padding: 50px 0 40px 0;
}

.copyright p {
  text-align: center;
  margin: 0 auto;
}