@import 'globals';

.component {
  color: $copy_color;
}

.about, .services {
  padding: 0 0 40px 0;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5em;
  opacity: $font_opacity;
  h4 {
    font-size: 14px;
    color: $secondary_color;
  }
}

.about {
  margin-top: 60px;
}

.about a {
  color: $secondary_color;
}

.about a:hover {
  text-decoration: underline;
}

.avatar_container {
  display: flex;
  justify-content: space-between;
  h3 {
    align-self: flex-end;
    // vertical-align: bottom;
  }
}

.avatar {
  background: url('../images/headshot.jpg');
  border-radius: 20px;
  width: 150px;
  height: 150px;
  background-size: contain;
  margin-right: 25px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
  .avatar {
    background-size: cover;
  }
}

// @media
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (   min--moz-device-pixel-ratio: 2),
// only screen and (     -o-min-device-pixel-ratio: 2/1),
// only screen and (        min-device-pixel-ratio: 2),
// only screen and (                min-resolution: 192dpi),
// only screen and (                min-resolution: 2dppx) { 
  
//   .avatar {
//     display: none;
//   }

// }

