@import 'globals';

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.nav_menu {
  padding: 40px 0;
  float: right;
  li {
    list-style: none;
    display: inline-block;
    padding: 0 0 0 20px;
    overflow: hidden;
    a {
      text-decoration: none;
      color: $copy_color;
      opacity: $font_opacity;
    }
  }

  li:hover {
    text-decoration: underline;
  }

  i {
    font-size: 17px;
  }
}

.social {
  cursor: pointer;
}

@media only screen and (max-width : 800px) {
  .social {
    display: none !important;
  }
  .nav_menu {
    padding: 40px 0 0 0;
  }
}